{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Réservations des membres</h2>
    <table class="table table-bordered mt-3">
        <thead class="table-dark">
            <tr>
                <th>Membre</th>
                <th>Email</th>
                <th>Espace réservé</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Prix total</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.membre.first_name }} {{ reservation.membre.last_name }}</td>
                    <td>{{ reservation.membre.email }}</td>
                    <td>{{ reservation.espace.nom }}</td>
                    <td>{{ reservation.date_debut|date:"d/m/Y H:i" }}</td>
                    <td>{{ reservation.date_fin|date:"d/m/Y H:i" }}</td>
                    <td>{{ reservation.montant_total }} MAD</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">Aucune réservation trouvée.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>
{% endblock %}
